:root {
    /* FONTS */
    --font-family: "Golos Text", sans-serif;
    --second-family: "Merriweather", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font-size: 18px;
    /* COLORS */
    --accent: #FBCE51;
    --black:#1F1F1F;
    --white:#FFFFFF;
    --red: #F54932;
    --main-text-color: #313131;
    --blue: #3057A2;
    --background-beige: #E9DED4;
    --disabled-gray:#D9D9D9;



}